/* Blog Section Started */
.blog {
    padding: 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--primaryColor);
}

.blogContent {
    text-align: center;
}

.blogContent h3 {
    color: var(--fontColor);
    letter-spacing: 2px;
}

.blogContent h2 {
    color: var(--textColor);
    font-size: 2.5rem;
}

.blogContent div {
    margin: 10px auto;
    width: 100px;
    border-bottom: 1px solid var(--fontColor);
}

.blogContent h2 b {
    color: var(--fontColor);
}

.blogItems {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.blogItems .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 calc(33.333% - 10px);
}

.blogItems img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.blogItems h3 {
    color: var(--fontColor);
    font-size: 1.5rem;
}

.blogItems .item .iconSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blogItems .item .iconSection i {
    color: var(--fontColor);
    font-size: 1.5rem;
}

.blogItems .item .iconSection span {
    color: var(--textColor);
}

/* Responsive */
@media (max-width: 1024px) {
    .blogItems .item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .blogContent h2 {
        font-size: 2rem;
    }
    .blogItems .item {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .blogContent h2 {
        font-size: 1.5rem;
    }
    .blogContent h3 {
        font-size: 1rem;
    }
    .blogItems .item .iconSection i {
        font-size: 1.2rem;
    }
}
