.project {
    padding: 5% 8%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    background: var(--secondaryColor);
}

.projectContent {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--textColor);
}

.projectContent span {
    font-size: 1.5rem;
}

.projectContent h1 {
    font-size: 3rem;
}

.projectContent h1 b {
    color: var(--fontColor);
}

.projectContent ul {
    list-style: none;
    padding-left: 0;
}

.projectContent ul li {
    color: var(--paragraphColor);
    position: relative;
    margin: 8px 0;
    padding-left: 30px;
}

.projectContent ul li::before {
    content: "✔️";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.project .item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.companies {
    padding: 5% 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background: url("../images/side-view-portrait-of-a-woman-with-make-up-CTUMAUJ.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.companies .items img {
    width: 150px;
    height: 80px;
    object-fit: contain;
}

@media (max-width: 992px) {
    .project {
        grid-template-columns: 1fr 1fr;
    }

    .projectContent {
        grid-column: 1 / -1;
    }

    .project .item img {
        height: 250px;
    }
}

@media (max-width: 600px) {
    .project {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project .item img {
        height: 200px;
    }

    .projectContent h1 {
        font-size: 2rem;
    }

    .projectContent span {
        font-size: 1.2rem;
    }

    .companies {
        gap: 15px;
        justify-content: center;
    }

    .companies .items img {
        width: 120px;
        height: 60px;
    }
}
